simulation/dataflow/templates/Transactions.json
{
  "flowContents": {
    "identifier": "28080896-f476-3777-9b76-db29cf017860",
    "name": "Transactions",
    "comments": "",
    "position": {
      "x": 288.0,
      "y": 72.0
    },
    "processGroups": [],
    "remoteProcessGroups": [],
    "processors": [
      {
        "identifier": "873b9940-41d7-330e-acb5-77fc5b152304",
        "name": "Associate Avro Schema",
        "comments": "",
        "position": {
          "x": 1888.0,
          "y": -184.0
        },
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-update-attribute-nar",
          "version": "1.10.0.2.0.0.0-166"
        },
        "style": {},
        "type": "org.apache.nifi.processors.attributes.UpdateAttribute",
        "properties": {
          "Delete Attributes Expression": null,
          "Store State": "Do not store state",
          "canonical-value-lookup-cache-size": "100",
          "schema.name": "#{schema.name.itrnx}",
          "Stateful Variables Initial Value": null
        },
        "propertyDescriptors": {
          "Delete Attributes Expression": {
            "name": "Delete Attributes Expression",
            "displayName": "Delete Attributes Expression",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Store State": {
            "name": "Store State",
            "displayName": "Store State",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "canonical-value-lookup-cache-size": {
            "name": "canonical-value-lookup-cache-size",
            "displayName": "Cache Value Lookup Cache Size",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "schema.name": {
            "name": "schema.name",
            "displayName": "schema.name",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Stateful Variables Initial Value": {
            "name": "Stateful Variables Initial Value",
            "displayName": "Stateful Variables Initial Value",
            "identifiesControllerService": false,
            "sensitive": false
          }
        },
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [],
        "scheduledState": "ENABLED",
        "componentType": "PROCESSOR",
        "groupIdentifier": "28080896-f476-3777-9b76-db29cf017860"
      },
      {
        "identifier": "6b430540-cdfe-3d9b-82cd-5d73536a3967",
        "name": "Log Errors",
        "comments": "",
        "position": {
          "x": 1184.0,
          "y": 624.0
        },
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-standard-nar",
          "version": "1.10.0.2.0.0.0-166"
        },
        "style": {},
        "type": "org.apache.nifi.processors.standard.LogAttribute",
        "properties": {
          "Log prefix": null,
          "character-set": "UTF-8",
          "Log Level": "info",
          "attributes-to-ignore-regex": null,
          "Attributes to Ignore": null,
          "Attributes to Log": null,
          "attributes-to-log-regex": ".*",
          "Log Payload": "true"
        },
        "propertyDescriptors": {
          "Log prefix": {
            "name": "Log prefix",
            "displayName": "Log prefix",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "character-set": {
            "name": "character-set",
            "displayName": "Character Set",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Log Level": {
            "name": "Log Level",
            "displayName": "Log Level",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "attributes-to-ignore-regex": {
            "name": "attributes-to-ignore-regex",
            "displayName": "Attributes to Ignore by Regular Expression",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Attributes to Ignore": {
            "name": "Attributes to Ignore",
            "displayName": "Attributes to Ignore",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Attributes to Log": {
            "name": "Attributes to Log",
            "displayName": "Attributes to Log",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "attributes-to-log-regex": {
            "name": "attributes-to-log-regex",
            "displayName": "Attributes to Log by Regular Expression",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Log Payload": {
            "name": "Log Payload",
            "displayName": "Log Payload",
            "identifiesControllerService": false,
            "sensitive": false
          }
        },
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [
          "success"
        ],
        "scheduledState": "ENABLED",
        "componentType": "PROCESSOR",
        "groupIdentifier": "28080896-f476-3777-9b76-db29cf017860"
      },
      {
        "identifier": "325d03b1-672c-362c-8b14-ed8404d710b3",
        "name": "Generate Transactions",
        "comments": "",
        "position": {
          "x": 1128.0,
          "y": -408.0
        },
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-standard-nar",
          "version": "1.10.0.2.0.0.0-166"
        },
        "style": {},
        "type": "org.apache.nifi.processors.standard.GenerateFlowFile",
        "properties": {
          "character-set": "UTF-8",
          "File Size": "0B",
          "generate-ff-custom-text": "{\n    \"trnxId\": ${random():mod(1000000000):plus(1)},\n    \"ts\": ${now():toNumber()},\n    \"itemId\": \"item_${random():mod(100):plus(1)}\",\n    \"qty\": ${random():mod(100):plus(-10)}\n}",
          "Batch Size": "1",
          "Unique FlowFiles": "false",
          "Data Format": "Text"
        },
        "propertyDescriptors": {
          "character-set": {
            "name": "character-set",
            "displayName": "Character Set",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "File Size": {
            "name": "File Size",
            "displayName": "File Size",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "generate-ff-custom-text": {
            "name": "generate-ff-custom-text",
            "displayName": "Custom Text",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Batch Size": {
            "name": "Batch Size",
            "displayName": "Batch Size",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Unique FlowFiles": {
            "name": "Unique FlowFiles",
            "displayName": "Unique FlowFiles",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Data Format": {
            "name": "Data Format",
            "displayName": "Data Format",
            "identifiesControllerService": false,
            "sensitive": false
          }
        },
        "schedulingPeriod": "2 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [],
        "scheduledState": "ENABLED",
        "componentType": "PROCESSOR",
        "groupIdentifier": "28080896-f476-3777-9b76-db29cf017860"
      },
      {
        "identifier": "3be2b18f-5a36-3b32-b4d1-96f096cdc03c",
        "name": "Publish Transactions to Kafka in CSV",
        "comments": "",
        "position": {
          "x": 464.0,
          "y": 56.0
        },
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-kafka-2-0-nar",
          "version": "1.10.0.2.0.0.0-166"
        },
        "style": {},
        "type": "org.apache.nifi.processors.kafka.pubsub.PublishKafkaRecord_2_0",
        "properties": {
          "compression.type": "none",
          "attribute-name-regex": null,
          "record-writer": "4cbd75e0-87b1-358f-aca3-b9209e64b80b",
          "bootstrap.servers": "#{kafka.broker}:9092",
          "sasl.kerberos.principal": null,
          "sasl.kerberos.service.name": null,
          "kerberos-credentials-service": null,
          "partition": null,
          "sasl.mechanism": "GSSAPI",
          "max.block.ms": "5 sec",
          "record-reader": "1cbb94d7-9273-383a-8a36-b0f4773507d0",
          "message-header-encoding": "UTF-8",
          "transactional-id-prefix": null,
          "ack.wait.time": "5 secs",
          "sasl.username": null,
          "use-transactions": "true",
          "acks": "all",
          "security.protocol": "PLAINTEXT",
          "ssl.context.service": null,
          "max.request.size": "1 MB",
          "sasl.token.auth": "false",
          "message-key-field": "itemId",
          "partitioner.class": "org.apache.kafka.clients.producer.internals.DefaultPartitioner",
          "sasl.kerberos.keytab": null,
          "topic": "#{kafka.topic.transaction}"
        },
        "propertyDescriptors": {
          "compression.type": {
            "name": "compression.type",
            "displayName": "Compression Type",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "attribute-name-regex": {
            "name": "attribute-name-regex",
            "displayName": "Attributes to Send as Headers (Regex)",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "record-writer": {
            "name": "record-writer",
            "displayName": "Record Writer",
            "identifiesControllerService": true,
            "sensitive": false
          },
          "bootstrap.servers": {
            "name": "bootstrap.servers",
            "displayName": "Kafka Brokers",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "sasl.kerberos.principal": {
            "name": "sasl.kerberos.principal",
            "displayName": "Kerberos Principal",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "sasl.kerberos.service.name": {
            "name": "sasl.kerberos.service.name",
            "displayName": "Kerberos Service Name",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "kerberos-credentials-service": {
            "name": "kerberos-credentials-service",
            "displayName": "Kerberos Credentials Service",
            "identifiesControllerService": true,
            "sensitive": false
          },
          "partition": {
            "name": "partition",
            "displayName": "Partition",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "sasl.mechanism": {
            "name": "sasl.mechanism",
            "displayName": "SASL Mechanism",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "max.block.ms": {
            "name": "max.block.ms",
            "displayName": "Max Metadata Wait Time",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "record-reader": {
            "name": "record-reader",
            "displayName": "Record Reader",
            "identifiesControllerService": true,
            "sensitive": false
          },
          "message-header-encoding": {
            "name": "message-header-encoding",
            "displayName": "Message Header Encoding",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "transactional-id-prefix": {
            "name": "transactional-id-prefix",
            "displayName": "Transactional Id Prefix",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "ack.wait.time": {
            "name": "ack.wait.time",
            "displayName": "Acknowledgment Wait Time",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "sasl.username": {
            "name": "sasl.username",
            "displayName": "Username",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "use-transactions": {
            "name": "use-transactions",
            "displayName": "Use Transactions",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "acks": {
            "name": "acks",
            "displayName": "Delivery Guarantee",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "security.protocol": {
            "name": "security.protocol",
            "displayName": "Security Protocol",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "ssl.context.service": {
            "name": "ssl.context.service",
            "displayName": "SSL Context Service",
            "identifiesControllerService": true,
            "sensitive": false
          },
          "max.request.size": {
            "name": "max.request.size",
            "displayName": "Max Request Size",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "sasl.token.auth": {
            "name": "sasl.token.auth",
            "displayName": "Token Auth",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "message-key-field": {
            "name": "message-key-field",
            "displayName": "Message Key Field",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "partitioner.class": {
            "name": "partitioner.class",
            "displayName": "Partitioner class",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "sasl.kerberos.keytab": {
            "name": "sasl.kerberos.keytab",
            "displayName": "Kerberos Keytab",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "topic": {
            "name": "topic",
            "displayName": "Topic Name",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "sasl.password": {
            "name": "sasl.password",
            "displayName": "Password",
            "identifiesControllerService": false,
            "sensitive": true
          }
        },
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [],
        "scheduledState": "ENABLED",
        "componentType": "PROCESSOR",
        "groupIdentifier": "28080896-f476-3777-9b76-db29cf017860"
      },
      {
        "identifier": "54cf7691-25f9-36ae-8ba2-6cca8d50558b",
        "name": "Log Output",
        "comments": "",
        "position": {
          "x": 1184.0,
          "y": 64.0
        },
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-standard-nar",
          "version": "1.10.0.2.0.0.0-166"
        },
        "style": {},
        "type": "org.apache.nifi.processors.standard.LogAttribute",
        "properties": {
          "Log prefix": null,
          "character-set": "UTF-8",
          "Log Level": "info",
          "attributes-to-ignore-regex": null,
          "Attributes to Ignore": null,
          "Attributes to Log": null,
          "attributes-to-log-regex": ".*",
          "Log Payload": "true"
        },
        "propertyDescriptors": {
          "Log prefix": {
            "name": "Log prefix",
            "displayName": "Log prefix",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "character-set": {
            "name": "character-set",
            "displayName": "Character Set",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Log Level": {
            "name": "Log Level",
            "displayName": "Log Level",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "attributes-to-ignore-regex": {
            "name": "attributes-to-ignore-regex",
            "displayName": "Attributes to Ignore by Regular Expression",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Attributes to Ignore": {
            "name": "Attributes to Ignore",
            "displayName": "Attributes to Ignore",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Attributes to Log": {
            "name": "Attributes to Log",
            "displayName": "Attributes to Log",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "attributes-to-log-regex": {
            "name": "attributes-to-log-regex",
            "displayName": "Attributes to Log by Regular Expression",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Log Payload": {
            "name": "Log Payload",
            "displayName": "Log Payload",
            "identifiesControllerService": false,
            "sensitive": false
          }
        },
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [
          "success"
        ],
        "scheduledState": "ENABLED",
        "componentType": "PROCESSOR",
        "groupIdentifier": "28080896-f476-3777-9b76-db29cf017860"
      },
      {
        "identifier": "46978739-dd5a-32af-82d6-b1e559ff8076",
        "name": "Associate CSV Schema",
        "comments": "",
        "position": {
          "x": 464.0,
          "y": -192.0
        },
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-update-attribute-nar",
          "version": "1.10.0.2.0.0.0-166"
        },
        "style": {},
        "type": "org.apache.nifi.processors.attributes.UpdateAttribute",
        "properties": {
          "Delete Attributes Expression": null,
          "Store State": "Do not store state",
          "canonical-value-lookup-cache-size": "100",
          "schema.name": "#{schema.name.transaction}",
          "Stateful Variables Initial Value": null
        },
        "propertyDescriptors": {
          "Delete Attributes Expression": {
            "name": "Delete Attributes Expression",
            "displayName": "Delete Attributes Expression",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Store State": {
            "name": "Store State",
            "displayName": "Store State",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "canonical-value-lookup-cache-size": {
            "name": "canonical-value-lookup-cache-size",
            "displayName": "Cache Value Lookup Cache Size",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "schema.name": {
            "name": "schema.name",
            "displayName": "schema.name",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Stateful Variables Initial Value": {
            "name": "Stateful Variables Initial Value",
            "displayName": "Stateful Variables Initial Value",
            "identifiesControllerService": false,
            "sensitive": false
          }
        },
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [],
        "scheduledState": "ENABLED",
        "componentType": "PROCESSOR",
        "groupIdentifier": "28080896-f476-3777-9b76-db29cf017860"
      },
      {
        "identifier": "97c2cc14-2507-3c1c-8fe9-3f161bccc2cd",
        "name": "Publish Transactions to Kafka in Avro",
        "comments": "",
        "position": {
          "x": 1888.0,
          "y": 72.0
        },
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-kafka-2-0-nar",
          "version": "1.10.0.2.0.0.0-166"
        },
        "style": {},
        "type": "org.apache.nifi.processors.kafka.pubsub.PublishKafkaRecord_2_0",
        "properties": {
          "compression.type": "none",
          "attribute-name-regex": null,
          "record-writer": "c86a0b00-51e2-3977-a892-a4c02d699e3e",
          "bootstrap.servers": "#{kafka.broker}:9092",
          "sasl.kerberos.principal": null,
          "sasl.kerberos.service.name": null,
          "kerberos-credentials-service": null,
          "partition": null,
          "sasl.mechanism": "GSSAPI",
          "max.block.ms": "5 sec",
          "record-reader": "1cbb94d7-9273-383a-8a36-b0f4773507d0",
          "message-header-encoding": "UTF-8",
          "transactional-id-prefix": null,
          "ack.wait.time": "5 secs",
          "sasl.username": null,
          "use-transactions": "true",
          "acks": "all",
          "security.protocol": "PLAINTEXT",
          "ssl.context.service": null,
          "max.request.size": "1 MB",
          "sasl.token.auth": "false",
          "message-key-field": "itemId",
          "partitioner.class": "org.apache.kafka.clients.producer.internals.DefaultPartitioner",
          "sasl.kerberos.keytab": null,
          "topic": "#{kafka.topic.itrnx}"
        },
        "propertyDescriptors": {
          "compression.type": {
            "name": "compression.type",
            "displayName": "Compression Type",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "attribute-name-regex": {
            "name": "attribute-name-regex",
            "displayName": "Attributes to Send as Headers (Regex)",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "record-writer": {
            "name": "record-writer",
            "displayName": "Record Writer",
            "identifiesControllerService": true,
            "sensitive": false
          },
          "bootstrap.servers": {
            "name": "bootstrap.servers",
            "displayName": "Kafka Brokers",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "sasl.kerberos.principal": {
            "name": "sasl.kerberos.principal",
            "displayName": "Kerberos Principal",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "sasl.kerberos.service.name": {
            "name": "sasl.kerberos.service.name",
            "displayName": "Kerberos Service Name",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "kerberos-credentials-service": {
            "name": "kerberos-credentials-service",
            "displayName": "Kerberos Credentials Service",
            "identifiesControllerService": true,
            "sensitive": false
          },
          "partition": {
            "name": "partition",
            "displayName": "Partition",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "sasl.mechanism": {
            "name": "sasl.mechanism",
            "displayName": "SASL Mechanism",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "max.block.ms": {
            "name": "max.block.ms",
            "displayName": "Max Metadata Wait Time",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "record-reader": {
            "name": "record-reader",
            "displayName": "Record Reader",
            "identifiesControllerService": true,
            "sensitive": false
          },
          "message-header-encoding": {
            "name": "message-header-encoding",
            "displayName": "Message Header Encoding",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "transactional-id-prefix": {
            "name": "transactional-id-prefix",
            "displayName": "Transactional Id Prefix",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "ack.wait.time": {
            "name": "ack.wait.time",
            "displayName": "Acknowledgment Wait Time",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "sasl.username": {
            "name": "sasl.username",
            "displayName": "Username",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "use-transactions": {
            "name": "use-transactions",
            "displayName": "Use Transactions",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "acks": {
            "name": "acks",
            "displayName": "Delivery Guarantee",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "security.protocol": {
            "name": "security.protocol",
            "displayName": "Security Protocol",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "ssl.context.service": {
            "name": "ssl.context.service",
            "displayName": "SSL Context Service",
            "identifiesControllerService": true,
            "sensitive": false
          },
          "max.request.size": {
            "name": "max.request.size",
            "displayName": "Max Request Size",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "sasl.token.auth": {
            "name": "sasl.token.auth",
            "displayName": "Token Auth",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "message-key-field": {
            "name": "message-key-field",
            "displayName": "Message Key Field",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "partitioner.class": {
            "name": "partitioner.class",
            "displayName": "Partitioner class",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "sasl.kerberos.keytab": {
            "name": "sasl.kerberos.keytab",
            "displayName": "Kerberos Keytab",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "topic": {
            "name": "topic",
            "displayName": "Topic Name",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "sasl.password": {
            "name": "sasl.password",
            "displayName": "Password",
            "identifiesControllerService": false,
            "sensitive": true
          }
        },
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [],
        "scheduledState": "ENABLED",
        "componentType": "PROCESSOR",
        "groupIdentifier": "28080896-f476-3777-9b76-db29cf017860"
      },
      {
        "identifier": "df73bbcf-97dd-3a19-8c6e-a197a4023a33",
        "name": "Subscribe Transactions from Kafka",
        "comments": "",
        "position": {
          "x": 1184.0,
          "y": 312.0
        },
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-kafka-2-0-nar",
          "version": "1.10.0.2.0.0.0-166"
        },
        "style": {},
        "type": "org.apache.nifi.processors.kafka.pubsub.ConsumeKafkaRecord_2_0",
        "properties": {
          "header-name-regex": null,
          "sasl.username": null,
          "max.poll.records": "10000",
          "record-writer": "f9fe2e28-56bc-3088-a8e7-38cded010920",
          "group.id": "#{kafka.consumer.group.id.test}",
          "bootstrap.servers": "#{kafka.broker}:9092",
          "topic_type": "names",
          "sasl.kerberos.principal": null,
          "sasl.kerberos.service.name": null,
          "security.protocol": "PLAINTEXT",
          "kerberos-credentials-service": null,
          "ssl.context.service": null,
          "max-uncommit-offset-wait": "1 secs",
          "sasl.mechanism": "GSSAPI",
          "sasl.token.auth": "false",
          "honor-transactions": "true",
          "sasl.kerberos.keytab": null,
          "Communications Timeout": "60 secs",
          "topic": "#{kafka.topic.test}",
          "record-reader": "03f3eecd-ef91-3723-98a0-9dde379aec97",
          "message-header-encoding": "UTF-8",
          "auto.offset.reset": "latest"
        },
        "propertyDescriptors": {
          "header-name-regex": {
            "name": "header-name-regex",
            "displayName": "Headers to Add as Attributes (Regex)",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "sasl.username": {
            "name": "sasl.username",
            "displayName": "Username",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "max.poll.records": {
            "name": "max.poll.records",
            "displayName": "Max Poll Records",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "record-writer": {
            "name": "record-writer",
            "displayName": "Record Writer",
            "identifiesControllerService": true,
            "sensitive": false
          },
          "group.id": {
            "name": "group.id",
            "displayName": "Group ID",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "bootstrap.servers": {
            "name": "bootstrap.servers",
            "displayName": "Kafka Brokers",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "topic_type": {
            "name": "topic_type",
            "displayName": "Topic Name Format",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "sasl.kerberos.principal": {
            "name": "sasl.kerberos.principal",
            "displayName": "Kerberos Principal",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "sasl.kerberos.service.name": {
            "name": "sasl.kerberos.service.name",
            "displayName": "Kerberos Service Name",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "security.protocol": {
            "name": "security.protocol",
            "displayName": "Security Protocol",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "kerberos-credentials-service": {
            "name": "kerberos-credentials-service",
            "displayName": "Kerberos Credentials Service",
            "identifiesControllerService": true,
            "sensitive": false
          },
          "ssl.context.service": {
            "name": "ssl.context.service",
            "displayName": "SSL Context Service",
            "identifiesControllerService": true,
            "sensitive": false
          },
          "max-uncommit-offset-wait": {
            "name": "max-uncommit-offset-wait",
            "displayName": "Max Uncommitted Time",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "sasl.mechanism": {
            "name": "sasl.mechanism",
            "displayName": "SASL Mechanism",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "sasl.token.auth": {
            "name": "sasl.token.auth",
            "displayName": "Token Auth",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "honor-transactions": {
            "name": "honor-transactions",
            "displayName": "Honor Transactions",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "sasl.kerberos.keytab": {
            "name": "sasl.kerberos.keytab",
            "displayName": "Kerberos Keytab",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Communications Timeout": {
            "name": "Communications Timeout",
            "displayName": "Communications Timeout",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "topic": {
            "name": "topic",
            "displayName": "Topic Name(s)",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "record-reader": {
            "name": "record-reader",
            "displayName": "Record Reader",
            "identifiesControllerService": true,
            "sensitive": false
          },
          "message-header-encoding": {
            "name": "message-header-encoding",
            "displayName": "Message Header Encoding",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "sasl.password": {
            "name": "sasl.password",
            "displayName": "Password",
            "identifiesControllerService": false,
            "sensitive": true
          },
          "auto.offset.reset": {
            "name": "auto.offset.reset",
            "displayName": "Offset Reset",
            "identifiesControllerService": false,
            "sensitive": false
          }
        },
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [],
        "scheduledState": "ENABLED",
        "componentType": "PROCESSOR",
        "groupIdentifier": "28080896-f476-3777-9b76-db29cf017860"
      }
    ],
    "inputPorts": [],
    "outputPorts": [],
    "connections": [
      {
        "identifier": "cbacfc14-0749-3fa0-97b1-77b21f7400bb",
        "name": "",
        "source": {
          "id": "97c2cc14-2507-3c1c-8fe9-3f161bccc2cd",
          "type": "PROCESSOR",
          "groupId": "28080896-f476-3777-9b76-db29cf017860",
          "name": "Publish Transactions to Kafka in Avro",
          "comments": ""
        },
        "destination": {
          "id": "54cf7691-25f9-36ae-8ba2-6cca8d50558b",
          "type": "PROCESSOR",
          "groupId": "28080896-f476-3777-9b76-db29cf017860",
          "name": "Log Output",
          "comments": ""
        },
        "labelIndex": 1,
        "zIndex": 0,
        "selectedRelationships": [
          "success"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "28080896-f476-3777-9b76-db29cf017860"
      },
      {
        "identifier": "87b7a330-4b6d-399a-8f03-a4cbd6f4b956",
        "name": "",
        "source": {
          "id": "325d03b1-672c-362c-8b14-ed8404d710b3",
          "type": "PROCESSOR",
          "groupId": "28080896-f476-3777-9b76-db29cf017860",
          "name": "Generate Transactions",
          "comments": ""
        },
        "destination": {
          "id": "46978739-dd5a-32af-82d6-b1e559ff8076",
          "type": "PROCESSOR",
          "groupId": "28080896-f476-3777-9b76-db29cf017860",
          "name": "Associate CSV Schema",
          "comments": ""
        },
        "labelIndex": 1,
        "zIndex": 0,
        "selectedRelationships": [
          "success"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "28080896-f476-3777-9b76-db29cf017860"
      },
      {
        "identifier": "3838a2b6-d5fd-3131-94a5-bc6ce9fad269",
        "name": "",
        "source": {
          "id": "df73bbcf-97dd-3a19-8c6e-a197a4023a33",
          "type": "PROCESSOR",
          "groupId": "28080896-f476-3777-9b76-db29cf017860",
          "name": "Subscribe Transactions from Kafka",
          "comments": ""
        },
        "destination": {
          "id": "54cf7691-25f9-36ae-8ba2-6cca8d50558b",
          "type": "PROCESSOR",
          "groupId": "28080896-f476-3777-9b76-db29cf017860",
          "name": "Log Output",
          "comments": ""
        },
        "labelIndex": 1,
        "zIndex": 0,
        "selectedRelationships": [
          "success"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "28080896-f476-3777-9b76-db29cf017860"
      },
      {
        "identifier": "6252006b-e521-373e-9cb6-18e4bdec9cc7",
        "name": "",
        "source": {
          "id": "97c2cc14-2507-3c1c-8fe9-3f161bccc2cd",
          "type": "PROCESSOR",
          "groupId": "28080896-f476-3777-9b76-db29cf017860",
          "name": "Publish Transactions to Kafka in Avro",
          "comments": ""
        },
        "destination": {
          "id": "6b430540-cdfe-3d9b-82cd-5d73536a3967",
          "type": "PROCESSOR",
          "groupId": "28080896-f476-3777-9b76-db29cf017860",
          "name": "Log Errors",
          "comments": ""
        },
        "labelIndex": 1,
        "zIndex": 0,
        "selectedRelationships": [
          "failure"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "28080896-f476-3777-9b76-db29cf017860"
      },
      {
        "identifier": "378300b8-ae4c-373b-986e-d686c3f3170a",
        "name": "",
        "source": {
          "id": "3be2b18f-5a36-3b32-b4d1-96f096cdc03c",
          "type": "PROCESSOR",
          "groupId": "28080896-f476-3777-9b76-db29cf017860",
          "name": "Publish Transactions to Kafka in CSV",
          "comments": ""
        },
        "destination": {
          "id": "54cf7691-25f9-36ae-8ba2-6cca8d50558b",
          "type": "PROCESSOR",
          "groupId": "28080896-f476-3777-9b76-db29cf017860",
          "name": "Log Output",
          "comments": ""
        },
        "labelIndex": 1,
        "zIndex": 0,
        "selectedRelationships": [
          "success"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "28080896-f476-3777-9b76-db29cf017860"
      },
      {
        "identifier": "d892ac58-b4a1-3890-b944-1329e989f687",
        "name": "",
        "source": {
          "id": "325d03b1-672c-362c-8b14-ed8404d710b3",
          "type": "PROCESSOR",
          "groupId": "28080896-f476-3777-9b76-db29cf017860",
          "name": "Generate Transactions",
          "comments": ""
        },
        "destination": {
          "id": "873b9940-41d7-330e-acb5-77fc5b152304",
          "type": "PROCESSOR",
          "groupId": "28080896-f476-3777-9b76-db29cf017860",
          "name": "Associate Avro Schema",
          "comments": ""
        },
        "labelIndex": 1,
        "zIndex": 0,
        "selectedRelationships": [
          "success"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "28080896-f476-3777-9b76-db29cf017860"
      },
      {
        "identifier": "0e2a0426-6e92-317e-8725-e0cb4857ec6c",
        "name": "",
        "source": {
          "id": "3be2b18f-5a36-3b32-b4d1-96f096cdc03c",
          "type": "PROCESSOR",
          "groupId": "28080896-f476-3777-9b76-db29cf017860",
          "name": "Publish Transactions to Kafka in CSV",
          "comments": ""
        },
        "destination": {
          "id": "6b430540-cdfe-3d9b-82cd-5d73536a3967",
          "type": "PROCESSOR",
          "groupId": "28080896-f476-3777-9b76-db29cf017860",
          "name": "Log Errors",
          "comments": ""
        },
        "labelIndex": 1,
        "zIndex": 0,
        "selectedRelationships": [
          "failure"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "28080896-f476-3777-9b76-db29cf017860"
      },
      {
        "identifier": "a4b6d9f8-332d-3c9a-9f28-3b93c359dfbe",
        "name": "",
        "source": {
          "id": "873b9940-41d7-330e-acb5-77fc5b152304",
          "type": "PROCESSOR",
          "groupId": "28080896-f476-3777-9b76-db29cf017860",
          "name": "Associate Avro Schema",
          "comments": ""
        },
        "destination": {
          "id": "97c2cc14-2507-3c1c-8fe9-3f161bccc2cd",
          "type": "PROCESSOR",
          "groupId": "28080896-f476-3777-9b76-db29cf017860",
          "name": "Publish Transactions to Kafka in Avro",
          "comments": ""
        },
        "labelIndex": 1,
        "zIndex": 0,
        "selectedRelationships": [
          "success"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "28080896-f476-3777-9b76-db29cf017860"
      },
      {
        "identifier": "ac3148b5-16bb-3ec0-87b1-8b1a144c48df",
        "name": "",
        "source": {
          "id": "46978739-dd5a-32af-82d6-b1e559ff8076",
          "type": "PROCESSOR",
          "groupId": "28080896-f476-3777-9b76-db29cf017860",
          "name": "Associate CSV Schema",
          "comments": ""
        },
        "destination": {
          "id": "3be2b18f-5a36-3b32-b4d1-96f096cdc03c",
          "type": "PROCESSOR",
          "groupId": "28080896-f476-3777-9b76-db29cf017860",
          "name": "Publish Transactions to Kafka in CSV",
          "comments": ""
        },
        "labelIndex": 1,
        "zIndex": 0,
        "selectedRelationships": [
          "success"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "28080896-f476-3777-9b76-db29cf017860"
      },
      {
        "identifier": "577bba10-ab16-3b4c-96bc-04e926e964c1",
        "name": "",
        "source": {
          "id": "df73bbcf-97dd-3a19-8c6e-a197a4023a33",
          "type": "PROCESSOR",
          "groupId": "28080896-f476-3777-9b76-db29cf017860",
          "name": "Subscribe Transactions from Kafka",
          "comments": ""
        },
        "destination": {
          "id": "6b430540-cdfe-3d9b-82cd-5d73536a3967",
          "type": "PROCESSOR",
          "groupId": "28080896-f476-3777-9b76-db29cf017860",
          "name": "Log Errors",
          "comments": ""
        },
        "labelIndex": 1,
        "zIndex": 0,
        "selectedRelationships": [
          "parse.failure"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "28080896-f476-3777-9b76-db29cf017860"
      }
    ],
    "labels": [],
    "funnels": [],
    "controllerServices": [
      {
        "identifier": "4cbd75e0-87b1-358f-aca3-b9209e64b80b",
        "name": "CSVRecordSetWriter",
        "comments": "",
        "type": "org.apache.nifi.csv.CSVRecordSetWriter",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-record-serialization-services-nar",
          "version": "1.10.0.2.0.0.0-166"
        },
        "controllerServiceApis": [
          {
            "type": "org.apache.nifi.serialization.RecordSetWriterFactory",
            "bundle": {
              "group": "org.apache.nifi",
              "artifact": "nifi-standard-services-api-nar",
              "version": "1.10.0.2.0.0.0-166"
            }
          }
        ],
        "properties": {
          "schema-branch": null,
          "CSV Format": "tdf",
          "Quote Character": "\"",
          "Include Header Line": "false",
          "Value Separator": "\\t",
          "schema-cache": null,
          "Record Separator": "Z",
          "Timestamp Format": null,
          "Escape Character": "\\",
          "Date Format": null,
          "Schema Write Strategy": "no-schema",
          "Null String": null,
          "Trim Fields": "true",
          "schema-name": "${schema.name}",
          "schema-registry": "01d72a7e-5dba-3e3e-8fab-004433f63ef1",
          "Time Format": null,
          "Comment Marker": null,
          "schema-access-strategy": "schema-name",
          "schema-version": null,
          "csvutils-character-set": "UTF-8",
          "schema-text": "${avro.schema}",
          "Quote Mode": "MINIMAL",
          "Include Trailing Delimiter": "false"
        },
        "propertyDescriptors": {
          "schema-branch": {
            "name": "schema-branch",
            "displayName": "Schema Branch",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "CSV Format": {
            "name": "CSV Format",
            "displayName": "CSV Format",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Quote Character": {
            "name": "Quote Character",
            "displayName": "Quote Character",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Include Header Line": {
            "name": "Include Header Line",
            "displayName": "Include Header Line",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Value Separator": {
            "name": "Value Separator",
            "displayName": "Value Separator",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "schema-cache": {
            "name": "schema-cache",
            "displayName": "Schema Cache",
            "identifiesControllerService": true,
            "sensitive": false
          },
          "Record Separator": {
            "name": "Record Separator",
            "displayName": "Record Separator",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Timestamp Format": {
            "name": "Timestamp Format",
            "displayName": "Timestamp Format",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Escape Character": {
            "name": "Escape Character",
            "displayName": "Escape Character",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Date Format": {
            "name": "Date Format",
            "displayName": "Date Format",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Schema Write Strategy": {
            "name": "Schema Write Strategy",
            "displayName": "Schema Write Strategy",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Null String": {
            "name": "Null String",
            "displayName": "Null String",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Trim Fields": {
            "name": "Trim Fields",
            "displayName": "Trim Fields",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "schema-name": {
            "name": "schema-name",
            "displayName": "Schema Name",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "schema-registry": {
            "name": "schema-registry",
            "displayName": "Schema Registry",
            "identifiesControllerService": true,
            "sensitive": false
          },
          "Time Format": {
            "name": "Time Format",
            "displayName": "Time Format",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Comment Marker": {
            "name": "Comment Marker",
            "displayName": "Comment Marker",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "schema-access-strategy": {
            "name": "schema-access-strategy",
            "displayName": "Schema Access Strategy",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "schema-version": {
            "name": "schema-version",
            "displayName": "Schema Version",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "csvutils-character-set": {
            "name": "csvutils-character-set",
            "displayName": "Character Set",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "schema-text": {
            "name": "schema-text",
            "displayName": "Schema Text",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Quote Mode": {
            "name": "Quote Mode",
            "displayName": "Quote Mode",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Include Trailing Delimiter": {
            "name": "Include Trailing Delimiter",
            "displayName": "Include Trailing Delimiter",
            "identifiesControllerService": false,
            "sensitive": false
          }
        },
        "componentType": "CONTROLLER_SERVICE",
        "groupIdentifier": "28080896-f476-3777-9b76-db29cf017860"
      },
      {
        "identifier": "1cbb94d7-9273-383a-8a36-b0f4773507d0",
        "name": "JsonTreeReader",
        "comments": "",
        "type": "org.apache.nifi.json.JsonTreeReader",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-record-serialization-services-nar",
          "version": "1.10.0.2.0.0.0-166"
        },
        "controllerServiceApis": [
          {
            "type": "org.apache.nifi.serialization.RecordReaderFactory",
            "bundle": {
              "group": "org.apache.nifi",
              "artifact": "nifi-standard-services-api-nar",
              "version": "1.10.0.2.0.0.0-166"
            }
          }
        ],
        "properties": {
          "Timestamp Format": null,
          "schema-inference-cache": null,
          "Date Format": null,
          "schema-branch": null,
          "schema-name": "${schema.name}",
          "schema-registry": "01d72a7e-5dba-3e3e-8fab-004433f63ef1",
          "Time Format": null,
          "schema-access-strategy": "schema-name",
          "schema-version": null,
          "schema-text": "${avro.schema}"
        },
        "propertyDescriptors": {
          "Timestamp Format": {
            "name": "Timestamp Format",
            "displayName": "Timestamp Format",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "schema-inference-cache": {
            "name": "schema-inference-cache",
            "displayName": "Schema Inference Cache",
            "identifiesControllerService": true,
            "sensitive": false
          },
          "Date Format": {
            "name": "Date Format",
            "displayName": "Date Format",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "schema-branch": {
            "name": "schema-branch",
            "displayName": "Schema Branch",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "schema-name": {
            "name": "schema-name",
            "displayName": "Schema Name",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "schema-registry": {
            "name": "schema-registry",
            "displayName": "Schema Registry",
            "identifiesControllerService": true,
            "sensitive": false
          },
          "Time Format": {
            "name": "Time Format",
            "displayName": "Time Format",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "schema-access-strategy": {
            "name": "schema-access-strategy",
            "displayName": "Schema Access Strategy",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "schema-version": {
            "name": "schema-version",
            "displayName": "Schema Version",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "schema-text": {
            "name": "schema-text",
            "displayName": "Schema Text",
            "identifiesControllerService": false,
            "sensitive": false
          }
        },
        "componentType": "CONTROLLER_SERVICE",
        "groupIdentifier": "28080896-f476-3777-9b76-db29cf017860"
      },
      {
        "identifier": "f9fe2e28-56bc-3088-a8e7-38cded010920",
        "name": "TestCSVRecordSetWriter",
        "comments": "",
        "type": "org.apache.nifi.csv.CSVRecordSetWriter",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-record-serialization-services-nar",
          "version": "1.10.0.2.0.0.0-166"
        },
        "controllerServiceApis": [
          {
            "type": "org.apache.nifi.serialization.RecordSetWriterFactory",
            "bundle": {
              "group": "org.apache.nifi",
              "artifact": "nifi-standard-services-api-nar",
              "version": "1.10.0.2.0.0.0-166"
            }
          }
        ],
        "properties": {
          "schema-branch": null,
          "CSV Format": "custom",
          "Quote Character": "\"",
          "Include Header Line": "false",
          "Value Separator": "\\t",
          "schema-cache": null,
          "Record Separator": "\\n",
          "Timestamp Format": null,
          "Escape Character": "\\",
          "Date Format": null,
          "Schema Write Strategy": "no-schema",
          "Null String": null,
          "Trim Fields": "true",
          "schema-name": "${schema.name}",
          "schema-registry": null,
          "Time Format": null,
          "Comment Marker": null,
          "schema-access-strategy": "inherit-record-schema",
          "schema-version": null,
          "csvutils-character-set": "UTF-8",
          "schema-text": "${avro.schema}",
          "Quote Mode": "NONE",
          "Include Trailing Delimiter": "false"
        },
        "propertyDescriptors": {
          "schema-branch": {
            "name": "schema-branch",
            "displayName": "Schema Branch",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "CSV Format": {
            "name": "CSV Format",
            "displayName": "CSV Format",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Quote Character": {
            "name": "Quote Character",
            "displayName": "Quote Character",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Include Header Line": {
            "name": "Include Header Line",
            "displayName": "Include Header Line",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Value Separator": {
            "name": "Value Separator",
            "displayName": "Value Separator",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "schema-cache": {
            "name": "schema-cache",
            "displayName": "Schema Cache",
            "identifiesControllerService": true,
            "sensitive": false
          },
          "Record Separator": {
            "name": "Record Separator",
            "displayName": "Record Separator",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Timestamp Format": {
            "name": "Timestamp Format",
            "displayName": "Timestamp Format",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Escape Character": {
            "name": "Escape Character",
            "displayName": "Escape Character",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Date Format": {
            "name": "Date Format",
            "displayName": "Date Format",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Schema Write Strategy": {
            "name": "Schema Write Strategy",
            "displayName": "Schema Write Strategy",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Null String": {
            "name": "Null String",
            "displayName": "Null String",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Trim Fields": {
            "name": "Trim Fields",
            "displayName": "Trim Fields",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "schema-name": {
            "name": "schema-name",
            "displayName": "Schema Name",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "schema-registry": {
            "name": "schema-registry",
            "displayName": "Schema Registry",
            "identifiesControllerService": true,
            "sensitive": false
          },
          "Time Format": {
            "name": "Time Format",
            "displayName": "Time Format",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Comment Marker": {
            "name": "Comment Marker",
            "displayName": "Comment Marker",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "schema-access-strategy": {
            "name": "schema-access-strategy",
            "displayName": "Schema Access Strategy",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "schema-version": {
            "name": "schema-version",
            "displayName": "Schema Version",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "csvutils-character-set": {
            "name": "csvutils-character-set",
            "displayName": "Character Set",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "schema-text": {
            "name": "schema-text",
            "displayName": "Schema Text",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Quote Mode": {
            "name": "Quote Mode",
            "displayName": "Quote Mode",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Include Trailing Delimiter": {
            "name": "Include Trailing Delimiter",
            "displayName": "Include Trailing Delimiter",
            "identifiesControllerService": false,
            "sensitive": false
          }
        },
        "componentType": "CONTROLLER_SERVICE",
        "groupIdentifier": "28080896-f476-3777-9b76-db29cf017860"
      },
      {
        "identifier": "c86a0b00-51e2-3977-a892-a4c02d699e3e",
        "name": "ITrnxAvroRecordSetWriter",
        "comments": "",
        "type": "org.apache.nifi.avro.AvroRecordSetWriter",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-record-serialization-services-nar",
          "version": "1.10.0.2.0.0.0-166"
        },
        "controllerServiceApis": [
          {
            "type": "org.apache.nifi.serialization.RecordSetWriterFactory",
            "bundle": {
              "group": "org.apache.nifi",
              "artifact": "nifi-standard-services-api-nar",
              "version": "1.10.0.2.0.0.0-166"
            }
          }
        ],
        "properties": {
          "compression-format": "NONE",
          "Schema Write Strategy": "hwx-content-encoded-schema",
          "schema-branch": null,
          "schema-name": "${schema.name}",
          "cache-size": "1000",
          "schema-registry": "01d72a7e-5dba-3e3e-8fab-004433f63ef1",
          "schema-access-strategy": "schema-name",
          "schema-version": null,
          "encoder-pool-size": "32",
          "schema-cache": null,
          "schema-text": "${avro.schema}"
        },
        "propertyDescriptors": {
          "compression-format": {
            "name": "compression-format",
            "displayName": "Compression Format",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Schema Write Strategy": {
            "name": "Schema Write Strategy",
            "displayName": "Schema Write Strategy",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "schema-branch": {
            "name": "schema-branch",
            "displayName": "Schema Branch",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "schema-name": {
            "name": "schema-name",
            "displayName": "Schema Name",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "cache-size": {
            "name": "cache-size",
            "displayName": "Cache Size",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "schema-registry": {
            "name": "schema-registry",
            "displayName": "Schema Registry",
            "identifiesControllerService": true,
            "sensitive": false
          },
          "schema-access-strategy": {
            "name": "schema-access-strategy",
            "displayName": "Schema Access Strategy",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "schema-version": {
            "name": "schema-version",
            "displayName": "Schema Version",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "encoder-pool-size": {
            "name": "encoder-pool-size",
            "displayName": "Encoder Pool Size",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "schema-cache": {
            "name": "schema-cache",
            "displayName": "Schema Cache",
            "identifiesControllerService": true,
            "sensitive": false
          },
          "schema-text": {
            "name": "schema-text",
            "displayName": "Schema Text",
            "identifiesControllerService": false,
            "sensitive": false
          }
        },
        "componentType": "CONTROLLER_SERVICE",
        "groupIdentifier": "28080896-f476-3777-9b76-db29cf017860"
      },
      {
        "identifier": "01d72a7e-5dba-3e3e-8fab-004433f63ef1",
        "name": "ClouderaSchemaRegistry",
        "comments": "",
        "type": "org.apache.nifi.schemaregistry.hortonworks.HortonworksSchemaRegistry",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-hwx-schema-registry-nar",
          "version": "1.10.0.2.0.0.0-166"
        },
        "controllerServiceApis": [
          {
            "type": "org.apache.nifi.schemaregistry.services.SchemaRegistry",
            "bundle": {
              "group": "org.apache.nifi",
              "artifact": "nifi-standard-services-api-nar",
              "version": "1.10.0.2.0.0.0-166"
            }
          }
        ],
        "properties": {
          "cache-expiration": "1 hour",
          "kerberos-credentials-service": null,
          "ssl-context-service": null,
          "cache-size": "1000",
          "url": "http://#{schema.registry.server}:7788/api/v1"
        },
        "propertyDescriptors": {
          "cache-expiration": {
            "name": "cache-expiration",
            "displayName": "Cache Expiration",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "kerberos-credentials-service": {
            "name": "kerberos-credentials-service",
            "displayName": "Kerberos Credentials Service",
            "identifiesControllerService": true,
            "sensitive": false
          },
          "ssl-context-service": {
            "name": "ssl-context-service",
            "displayName": "SSL Context Service",
            "identifiesControllerService": true,
            "sensitive": false
          },
          "cache-size": {
            "name": "cache-size",
            "displayName": "Cache Size",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "url": {
            "name": "url",
            "displayName": "Schema Registry URL",
            "identifiesControllerService": false,
            "sensitive": false
          }
        },
        "componentType": "CONTROLLER_SERVICE",
        "groupIdentifier": "28080896-f476-3777-9b76-db29cf017860"
      },
      {
        "identifier": "a008055d-bc7c-3c13-b391-172a8b62a473",
        "name": "AvroRecordSetWriter",
        "comments": "",
        "type": "org.apache.nifi.avro.AvroRecordSetWriter",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-record-serialization-services-nar",
          "version": "1.10.0.2.0.0.0-166"
        },
        "controllerServiceApis": [
          {
            "type": "org.apache.nifi.serialization.RecordSetWriterFactory",
            "bundle": {
              "group": "org.apache.nifi",
              "artifact": "nifi-standard-services-api-nar",
              "version": "1.10.0.2.0.0.0-166"
            }
          }
        ],
        "properties": {
          "compression-format": "NONE",
          "Schema Write Strategy": "avro-embedded",
          "schema-branch": null,
          "schema-name": "${schema.name}",
          "cache-size": "1000",
          "schema-registry": "01d72a7e-5dba-3e3e-8fab-004433f63ef1",
          "schema-access-strategy": "schema-name",
          "schema-version": null,
          "encoder-pool-size": "32",
          "schema-cache": null,
          "schema-text": "${avro.schema}"
        },
        "propertyDescriptors": {
          "compression-format": {
            "name": "compression-format",
            "displayName": "Compression Format",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Schema Write Strategy": {
            "name": "Schema Write Strategy",
            "displayName": "Schema Write Strategy",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "schema-branch": {
            "name": "schema-branch",
            "displayName": "Schema Branch",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "schema-name": {
            "name": "schema-name",
            "displayName": "Schema Name",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "cache-size": {
            "name": "cache-size",
            "displayName": "Cache Size",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "schema-registry": {
            "name": "schema-registry",
            "displayName": "Schema Registry",
            "identifiesControllerService": true,
            "sensitive": false
          },
          "schema-access-strategy": {
            "name": "schema-access-strategy",
            "displayName": "Schema Access Strategy",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "schema-version": {
            "name": "schema-version",
            "displayName": "Schema Version",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "encoder-pool-size": {
            "name": "encoder-pool-size",
            "displayName": "Encoder Pool Size",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "schema-cache": {
            "name": "schema-cache",
            "displayName": "Schema Cache",
            "identifiesControllerService": true,
            "sensitive": false
          },
          "schema-text": {
            "name": "schema-text",
            "displayName": "Schema Text",
            "identifiesControllerService": false,
            "sensitive": false
          }
        },
        "componentType": "CONTROLLER_SERVICE",
        "groupIdentifier": "28080896-f476-3777-9b76-db29cf017860"
      },
      {
        "identifier": "03f3eecd-ef91-3723-98a0-9dde379aec97",
        "name": "AvroReader",
        "comments": "",
        "type": "org.apache.nifi.avro.AvroReader",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-record-serialization-services-nar",
          "version": "1.10.0.2.0.0.0-166"
        },
        "controllerServiceApis": [
          {
            "type": "org.apache.nifi.serialization.RecordReaderFactory",
            "bundle": {
              "group": "org.apache.nifi",
              "artifact": "nifi-standard-services-api-nar",
              "version": "1.10.0.2.0.0.0-166"
            }
          }
        ],
        "properties": {
          "schema-branch": null,
          "schema-name": "${schema.name}",
          "cache-size": "1000",
          "schema-registry": null,
          "schema-access-strategy": "embedded-avro-schema",
          "schema-version": null,
          "schema-text": "${avro.schema}"
        },
        "propertyDescriptors": {
          "schema-branch": {
            "name": "schema-branch",
            "displayName": "Schema Branch",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "schema-name": {
            "name": "schema-name",
            "displayName": "Schema Name",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "cache-size": {
            "name": "cache-size",
            "displayName": "Cache Size",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "schema-registry": {
            "name": "schema-registry",
            "displayName": "Schema Registry",
            "identifiesControllerService": true,
            "sensitive": false
          },
          "schema-access-strategy": {
            "name": "schema-access-strategy",
            "displayName": "Schema Access Strategy",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "schema-version": {
            "name": "schema-version",
            "displayName": "Schema Version",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "schema-text": {
            "name": "schema-text",
            "displayName": "Schema Text",
            "identifiesControllerService": false,
            "sensitive": false
          }
        },
        "componentType": "CONTROLLER_SERVICE",
        "groupIdentifier": "28080896-f476-3777-9b76-db29cf017860"
      }
    ],
    "variables": {},
    "parameterContextName": "bnym_csa",
    "componentType": "PROCESS_GROUP"
  },
  "externalControllerServices": {},
  "parameterContexts": {
    "bnym_csa": {
      "name": "bnym_csa",
      "parameters": [
        {
          "name": "kafka.topic.test",
          "description": "",
          "sensitive": false,
          "value": "test"
        },
        {
          "name": "kafka.consumer.group.id.query.out",
          "description": "",
          "sensitive": false,
          "value": "nifi.query.out"
        },
        {
          "name": "schema.name.itrnx",
          "description": "",
          "sensitive": false,
          "value": "ITrnx2"
        },
        {
          "name": "schema.name.test",
          "description": "",
          "sensitive": false,
          "value": "test"
        },
        {
          "name": "schema.name.query.out",
          "description": "",
          "sensitive": false,
          "value": "query.out"
        },
        {
          "name": "kafka.consumer.group.id.transaction",
          "description": "",
          "sensitive": false,
          "value": "nifi.transaction"
        },
        {
          "name": "kafka.topic.itrnx",
          "description": "",
          "sensitive": false,
          "value": "ITrnx2"
        },
        {
          "name": "kafka.broker",
          "description": "",
          "sensitive": false,
          "value": "<kafka_broker_fqdn>"
        },
        {
          "name": "kafka.topic.query.in",
          "description": "",
          "sensitive": false,
          "value": "query.input.log.1"
        },
        {
          "name": "schema.name.transaction",
          "description": "",
          "sensitive": false,
          "value": "transaction"
        },
        {
          "name": "kafka.topic.query.out",
          "description": "",
          "sensitive": false,
          "value": "query.output.log.1"
        },
        {
          "name": "kafka.consumer.group.id.test",
          "description": "",
          "sensitive": false,
          "value": "nifi.test"
        },
        {
          "name": "schema.name.query",
          "description": "",
          "sensitive": false,
          "value": "query"
        },
        {
          "name": "schema.registry.server",
          "description": "",
          "sensitive": false,
          "value": "<schema_registry_fqdn>"
        },
        {
          "name": "kafka.topic.transaction",
          "description": "",
          "sensitive": false,
          "value": "transaction.log.1"
        }
      ]
    }
  },
  "flowEncodingVersion": "1.0"
}